*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Vazirmatn", sans-serif;
    color: #FDFDFD;
}

.Toastify__toast-body{
    font-family: "Vazirmatn", sans-serif;
}